body {
  margin: 0;
  padding: 0;
  color: black; }

a {
  text-decoration: none; }

header {
  background: linear-gradient(#000000a9, #be4208), url(../images/glass-blowing.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 59.0625rem;
  color: #ffffff; }

nav ul {
  text-decoration: none;
  list-style: none;
  padding-top: 3%;
  padding-left: 12.5%; }
  nav ul li {
    display: inline;
    padding: 2vw; }
  nav ul a {
    width: 36px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-decoration: none; }

div {
  position: relative; }

h3 {
  margin-bottom: 0px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  line-height: 2.4;
  text-align: center;
  color: #333333; }

.price {
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999;
  margin-top: 0px; }

.leather .leather-info {
  position: absolute;
  margin-left: 23.0625rem;
  text-align: center; }
  .leather .leather-info h3 {
    margin-top: 8.4375rem;
    font-family: "Dosis";
    font-size: 3rem;
    text-align: center;
    color: #ffffff; }
  .leather .leather-info p {
    width: 656px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }

footer {
  width: 100%;
  height: 26.5625rem;
  background-color: #2d2827; }

.final-footer {
  grid-column: -1/1; }

@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-Light.ttf); }
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); }
.top-icons {
  width: 111px;
  height: 15px;
  font-size: 15px;
  line-height: 3.5;
  text-align: center;
  color: #999999;
  padding-left: 200px; }
  .top-icons i {
    padding-left: 10px; }

.down {
  font-size: 30px;
  position: absolute;
  margin-left: 50%;
  margin-top: 12%; }

.arrow {
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #a88d7b;
  margin-left: 46%;
  color: white; }

.new-btn {
  position: absolute;
  width: 60px;
  height: 25px;
  border-radius: 0.4688rem;
  background-color: #a88d7b;
  top: 5px;
  right: 10px; }

.leather .leather-btn {
  border-radius: 0px;
  width: 9.375rem;
  height: 2.5rem;
  margin-top: 5rem;
  margin-left: 1rem; }

button:hover {
  transition: 250ms ease;
  transform: scale(1.1);
  left: 20%; }

.topbar {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }
  .topbar div {
    text-align: center; }

.lang-cur {
  width: 13px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #999999;
  padding: 10px; }

.ship {
  width: 349px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  line-height: 4.53;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.home {
  padding-left: 7%; }

.logo {
  width: 117px;
  height: 21px;
  font-family: "Dosis";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5rem !important;
  text-align: left;
  color: #fffefe; }

.lookbook {
  padding-right: 9.5%; }

.header-info h1 {
  width: 597px;
  height: 38px;
  font-family: "Dosis";
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 31vw;
  margin-top: 10vw; }
.header-info p {
  width: 924px;
  height: 39px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6;
  padding-left: 21%; }

.featured {
  height: 44rem;
  background-color: #f5f5f5; }

.featured-products {
  width: 370px;
  height: 360px;
  padding-top: 3rem; }

.feat-imgs {
  width: 100%;
  height: 100%; }

h2 {
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  height: 3rem;
  text-align: center;
  color: #333333;
  position: relative;
  padding-top: 4rem;
  margin-top: 0px; }

h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%); }

section.leather {
  width: 100%;
  height: 34.5rem;
  background: linear-gradient(#000000a9, #382201d2), url(../../images/leather-bg.jpeg);
  background-position: bottom;
  background-repeat: no-repeat; }

.blog {
  background-color: #f5f5f5; }
  .blog .blog-content {
    height: 41.9375rem; }
    .blog .blog-content h2 {
      grid-column: -1/1; }
    .blog .blog-content .blog-img {
      width: 36.5625rem;
      height: 25.3125rem;
      background-color: #666666;
      overflow: hidden; }
      .blog .blog-content .blog-img img {
        width: 100%;
        height: 100%; }
    .blog .blog-content .blog-text .accessories {
      text-align: left;
      height: 1.4375rem;
      font-family: "Source Sans Pro";
      font-size: 1.5625rem;
      font-weight: 600;
      line-height: 1.92;
      color: #333333;
      margin-top: 0px;
      margin-bottom: 40px; }
    .blog .blog-content .blog-text .date {
      width: 7.3125rem;
      height: 0.875rem;
      font-family: "Source Sans Pro";
      font-size: 0.9375rem;
      line-height: 3.2;
      color: #999999;
      margin-top: 0px;
      margin-bottom: 2.5rem; }
    .blog .blog-content .blog-text p {
      width: 33.0625rem;
      height: 14.9375rem;
      font-family: "Source Sans Pro";
      font-size: 0.9375rem;
      line-height: 1.67;
      color: #666666;
      margin-bottom: 0px; }
    .blog .blog-content .blog-text a {
      width: 5.3125rem;
      height: 0.625rem;
      font-family: "Source Sans Pro";
      font-size: 0.9375rem;
      line-height: 3.2;
      letter-spacing: 0.0938rem;
      color: #a88d7b; }

.footer-info {
  text-align: justify;
  color: #999999;
  margin-left: 10.625rem;
  margin-top: 1.5rem; }
  .footer-info h3 {
    width: 15.3125rem;
    font-family: "Dosis";
    font-size: 2.875rem;
    font-weight: 600;
    letter-spacing: 0.0938rem;
    color: #e5e5e5;
    margin-left: -1.9375rem; }
  .footer-info span {
    padding-right: 7px; }
  .footer-info p {
    width: 15.0625rem;
    height: 0.875rem;
    font-family: "Source Sans Pro";
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.8125rem; }

.footer-links {
  text-align: justify;
  color: #999999;
  margin-left: 9.625rem;
  margin-top: 6rem; }
  .footer-links h3 {
    width: 2.875rem;
    height: 0.75rem;
    font-family: "Source Sans Pro";
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.33;
    color: #e5e5e5;
    padding-bottom: 2.9375rem; }
  .footer-links a {
    text-decoration: none;
    width: 3.5rem;
    height: 0.6875rem;
    font-family: "Source Sans Pro";
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #999999; }

.footer-shop {
  text-align: justify;
  color: #999999;
  margin-left: 3rem;
  margin-top: 6rem; }
  .footer-shop h3 {
    width: 2.875rem;
    height: 0.75rem;
    font-family: "Source Sans Pro";
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.33;
    color: #e5e5e5;
    padding-bottom: 2.9375rem; }
  .footer-shop a {
    text-decoration: none;
    width: 3.5rem;
    height: 0.6875rem;
    font-family: "Source Sans Pro";
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #999999; }

.footer-instagram {
  text-align: justify;
  color: #999999;
  margin-top: 6rem;
  margin-right: 2rem; }
  .footer-instagram h3 {
    grid-column: -1/1;
    text-align: left;
    width: 5.6875rem;
    height: 0.8125rem;
    font-family: "Source Sans Pro";
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
    text-transform: uppercase; }

.final-footer {
  width: 100%;
  height: 5.3125rem;
  background-color: #d7d7d7; }
  .final-footer .footer-text {
    margin-top: 0px;
    text-align: center;
    padding-top: 2.25rem;
    height: 0.875rem;
    line-height: 1.71;
    color: #666666; }

.topbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.featured-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 71.375rem;
  height: 44rem;
  grid-gap: 1rem; }
  .featured-products div {
    width: 23.125rem;
    height: 22.5rem;
    background-color: gray; }

.new-coll {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 71.375rem;
  height: 44.0625rem;
  grid-gap: 1rem; }
  .new-coll div {
    width: 35.625rem;
    height: 23.3125rem;
    background-color: gray; }
    .new-coll div img {
      width: 100%;
      height: 100%; }
  .new-coll article {
    grid-column: -1/1; }

.blog-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 71.375rem;
  margin: auto; }

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  footer .footer-instagram {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(3, 5rem);
    grid-gap: 1rem; }
    footer .footer-instagram div {
      background: white; }

/*# sourceMappingURL=main.css.map */
