body {
  margin: 0;
  padding: 0;
  color: black; }

header {
  background: linear-gradient(#000000a9, #00000088), url(../images/ha.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  color: #ffffff; }

nav ul {
  text-decoration: none;
  list-style: none;
  padding-top: 3%;
  padding-left: 12.5%; }
  nav ul li {
    display: inline;
    padding: 2vw; }
  nav ul a {
    width: 36px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-decoration: none; }

div {
  position: relative; }

h3 {
  margin-bottom: 0px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  line-height: 2.4;
  text-align: center;
  color: #333333; }

.price {
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999;
  margin-top: 0px; }

@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-Light.ttf); }
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); }
.top-icons {
  width: 111px;
  height: 15px;
  font-size: 15px;
  line-height: 3.5;
  text-align: center;
  color: #999999;
  padding-left: 200px; }
  .top-icons i {
    padding-left: 10px; }

.down {
  font-size: 30px;
  position: absolute;
  margin-left: 50%;
  margin-top: 12%; }

.arrow {
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #a88d7b;
  margin-left: 46%;
  color: white; }

.new-btn {
  position: absolute;
  width: 60px;
  height: 25px;
  border-radius: 0.4688rem;
  background-color: #a88d7b;
  top: 5px;
  right: 10px; }

.topbar {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }
  .topbar div {
    text-align: center; }

.lang-cur {
  width: 13px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #999999;
  padding: 10px; }

.ship {
  width: 349px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  line-height: 4.53;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.home {
  padding-left: 7%; }

.logo {
  width: 117px;
  height: 21px;
  font-family: "Dosis";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5rem !important;
  text-align: left;
  color: #fffefe; }

.lookbook {
  padding-right: 9.5%; }

.header-info h1 {
  width: 597px;
  height: 38px;
  font-family: "Dosis";
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 31vw;
  margin-top: 10vw; }
.header-info p {
  width: 924px;
  height: 39px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6;
  padding-left: 21%; }

.featured {
  height: 44rem;
  background-color: #f5f5f5; }

.title-1 {
  color: black;
  width: 19.5625rem;
  height: 1.5rem;
  font-family: "Source Sans Pro";
  font-size: 2.25rem;
  line-height: 1.33;
  margin-left: 41%;
  margin-top: 0px;
  padding-top: 5rem; }

.bottom-border {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  position: absolute;
  margin-left: 48.5%; }

.featured-products {
  width: 370px;
  height: 360px;
  padding-top: 5rem; }

.feat-imgs {
  width: 100%;
  height: 100%; }

.title-2 {
  color: black;
  width: 18rem;
  height: 1.5rem;
  font-family: "Source Sans Pro";
  font-size: 2.25rem;
  line-height: 1.33;
  margin-left: 41%;
  margin-top: 0px;
  padding-top: 5rem; }

.topbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.featured-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 56rem;
  grid-gap: 1rem; }
  .featured-products div {
    width: 18rem;
    height: 18rem;
    background-color: gray; }

/*# sourceMappingURL=main.css.map */
