body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../images/glass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    color: #999999;
}

