body {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background: linear-gradient(#2e242488, #00000088), url(../images/pottery.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    color: #ffffff;
}

nav ul {    
    text-decoration: none;
    list-style: none;
    padding-top: 3%;
    padding-left: 12.5%;

    li{
        display: inline;
        padding: 2vw;
    }
    a {
        width: 36px;
        height: 11px;
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
        letter-spacing: 0.8px;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        
}
}

