@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Light.ttf);
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

.top-icons {    
    width: 111px;
    height: 15px;
    font-size: 15px;
    line-height: 3.5;
    text-align: center;
    color: #999999;
    padding-left: 200px;
    i {
        padding-left: 10px;
    }
}

// code for the arrow
.down {
    position: absolute;
    left: 50%;
    top: 89%;
    font-size: 30px;
}
.arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// style for the button
button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
}