
button {
    border-radius: 1.25rem;
    color: #ffffff;
    background-color: #a88d7b;
    border: none;
    width: 9.375rem;
    height: 2.5rem;
    margin-top: 5%;
}

button:hover {
    width: 10rem;
}

#leather-btn {
    border-radius: 0%;
    background-color: #a88d7b;
}

// the button on the contact page
.contact-btn {
    border-radius: 2%;
    margin: 1.5em 0em 5em 3.3em;
    margin-left: 24.8%;
}

.blog-page-text {
    text-align: left;
    color: #666666
}
// the buttons on the blog
#blog-page-btn {
    background-color: rgb(255, 255, 255);
    color: #666666;
    padding: 0;
    margin-left: -3em;
    margin-top: 0em;
}

// arrow animation
.arrow {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 49%;   
    margin-top: 5%;     
 
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
// end of the arrow animation

// code for the pretty photo
.container {
  max-width: 100%;
  width: 100%;
  margin-bottom: 5%;
  .gallery {
    div{
      a {
      img {
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform .15s ease;   
        -moz-transition: -moz-transform .15s ease;
        -o-transition: -o-transform .15s ease;
        -ms-transition: -ms-transform .15s ease;
        transition: transform .15s ease;
        position:relative;
      }
      
      &:hover {
        img {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -o-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
          z-index: 5;
        }
      }
    } 
    }
  }
}

// back to top button
